.post {
    margin: 3rem 1rem;
    padding: 1rem;
    background-color: #9c7eee;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    animation: animate-in ease-out forwards;
    text-align: center;
}

.post a {
    text-decoration: none;
}

.author {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin: 0;
    text-transform: uppercase;
}

.text {
    white-space: pre-wrap;
    font-size: 2rem;
    margin: 0.25rem 0 0 0;
    color: white;
    font-style: italic;
}